link(href='https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css', rel='stylesheet')
link(href='/css/footer.css', rel='stylesheet')
// footer start from here
footer
  .container
    .row
      .col-md-3.col-sm-6.footer-col
        .logofooter  Proyecto Sinapsis
        p
          | ¿Qué es? Esta es una comunidad enfocada para diseminar el conocimiento colectivo de la ciencia, tecnología y todo tipo de educación pro-activa para el beneficio de nuestras neuronas.
        p
          i.fa.fa-map-pin
          |  #228, Tiruvannamalai, Tamilnadu, India
        p
          i.fa.fa-phone
          |  Phone (India) : +91 9999 999 999
        p
          i.fa.fa-envelope
          |  E-mail : info@prabuuideveloper.com
      .col-md-3.col-sm-6.footer-col
        h6.heading7 SITEMAP RÁPIDO
        ul.footer-ul
          li
            a(href='/')  Home
          li
            a(href='/post')  Posts
          li
            a(href='/usuarios')  Usuarios
          li
            a(href='#')  Categorias
          li
            a(href='/buscar')  Buscar
          li
            a(href='#')  Blog oficial
          li
            a(href='#')  Contactanos
      .col-md-3.col-sm-6.footer-col
        h6.heading7 DESTACADOS DEL DIA
        .postfoot
          p
            | Este es un título importante de una nota prueba que se lista aquí 
            span Agosto 3,2017 - por: rodvaN
          p
            | facebook crack the movie advertisment code:what it means for you 
            span August 3,2015
          p
            | facebook crack the movie advertisment code:what it means for you 
            span August 3,2015
      .col-md-3.col-sm-6.footer-col
        h6.heading7 Social Media
        ul.footer-social
          li
            i.fa.fa-linkedin.social-icon.linked-in(aria-hidden='true')
          li
            i.fa.fa-facebook.social-icon.facebook(aria-hidden='true')
          li
            i.fa.fa-twitter.social-icon.twitter(aria-hidden='true')
          li
            i.fa.fa-google-plus.social-icon.google(aria-hidden='true')
// footer start from here
.copyright
  .container
    .col-md-6
      p © 2017 - Todos los derechos reservados. Cerebro Digital.
    .col-md-6
      ul.bottom_ul
        li
          a(href='#') Home
        li
          a(href='#') Quienes somos
        li
          a(href='#') Blog Oficial
        li
          a(href='#') FAQ
        li
          a(href='#') Contactanos
        li
          a(href='#') Site Map