extends layout
block page-libs
  link(href='libs/slick/slick.css', rel='stylesheet')
  link(href='libs/slick/slick-theme.css', rel='stylesheet')
  script(src="libs/slick/slick.min.js")
block head-scripts
  link(href='/css/landing.css', rel='stylesheet')


block bottom-scripts
  script(src="/js/landing.js")

block content
  // Main jumbotron for a primary marketing message or call to action
  if !user
    .jumbotron
      .container
        h1 Proyecto Sinapsis v0.1
          p
            | Favor de registrarte para llevar un registro de tus actividades, acumular puntos, ganar reputación y ¡desbloquear sorpresas!
          p
            a.btn.btn-primary.btn-lg(href='/register', role='button') REGISTRARME AHORA »

  .row
    .container
      div#sliderejemplo
          div.centertext
            h3 1
            img(src='http://lorempixel.com/201/200/')
          div.centertext
            h3 2
            img(src='http://lorempixel.com/200/201/')
          div.centertext
            h3 3
            img(src='http://lorempixel.com/202/200/')
          div.centertext
            h3 4
            img(src='http://lorempixel.com/200/202/')
          div.centertext
            h3 5
            img(src='http://lorempixel.com/203/200/')
          div.centertext
            h3 6
            img(src='http://lorempixel.com/200/203/')
          div.centertext
            h3 7
            img(src='http://lorempixel.com/202/200/')
          div.centertext
            h3 8
            img(src='http://lorempixel.com/200/202/')
          div.centertext
            h3 9
            img(src='http://lorempixel.com/203/200/')
          div.centertext
            h3 10
            img(src='http://lorempixel.com/200/203/')

  .container
    // Example row of columns
    .row
      .col-sm-6.col-md-3
        .thumbnail
          img(src='http://lorempixel.com/300/150/', alt='...')
          .caption
            h3 Titulo de la nota
            p 
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
            p
              a.btn.btn-primary(href='#', role='button') Button
              a.btn.btn-default(href='#', role='button') Button
      .col-sm-6.col-md-3
        .thumbnail
          img(src='http://lorempixel.com/300/150/', alt='...')
          .caption
            h3 Titulo de la nota
            p 
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
            p
              a.btn.btn-primary(href='#', role='button') Button
              a.btn.btn-default(href='#', role='button') Button
      .col-sm-6.col-md-3
        .thumbnail
          img(src='http://lorempixel.com/300/150/', alt='...')
          .caption
            h3 Titulo de la nota
            p 
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
            p
              a.btn.btn-primary(href='#', role='button') Button
              a.btn.btn-default(href='#', role='button') Button
      .col-sm-6.col-md-3
        .thumbnail
          img(src='http://lorempixel.com/300/150/', alt='...')
          .caption
            h3 Titulo de la nota
            p 
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
            p
              a.btn.btn-primary(href='#', role='button') Button
              a.btn.btn-default(href='#', role='button') Button
    
    hr
    footer
      p © 2016 Company, Inc.

  #app
    |{{ (2 + 51 ) + message + " + html text + " + message + (12 - 5)}}



