extends layout
block head-scripts
  link(href='libs/slick/slick.css', rel='stylesheet')
  link(href='libs/slick/slick-theme.css', rel='stylesheet')

  script(src="libs/slick/slick.min.js")

block bottom-scripts
  script(src="/js/landing.js")

block content
  // Main jumbotron for a primary marketing message or call to action
  .jumbotron
    .container
      if user
        h1 Bienvenido a Sinapsis {{user.email}}
      else
        h1 Bienvenido a Sinapsis, recuerda registrarte
      p
        | Esta comunidad ha comenzado el proyecto sinapsis 0.1
      p
        a.btn.btn-primary.btn-lg(href='#', role='button') Ver mas »

  .row
    .container
      div#sliderejemplo
          div
            h3 1
          div
            h3 2
          div
            h3 3
          div
            h3 4
          div
            h3 5
          div
            h3 6

  .container
    // Example row of columns

    .row
      .col-md-4
        h2 Heading
        p
          | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a.btn.btn-default(href='#', role='button') View details »
      .col-md-4
        h2 Heading
        p
          | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a.btn.btn-default(href='#', role='button') View details »
      .col-md-4
        h2 Heading
        p
          | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        p
          a.btn.btn-default(href='#', role='button') View details »
    hr
    footer
      p © 2016 Company, Inc.

  #app
    |{{ (2 + 51 ) + message + " + html text + " + message + (12 - 5)}}



