extends layout
block page-libs
  link(href='libs/slick/slick.css', rel='stylesheet')
  link(href='libs/slick/slick-theme.css', rel='stylesheet')
  script(src="libs/slick/slick.min.js")
block head-scripts
  link(href='/css/landing.css', rel='stylesheet')


block bottom-scripts
  script(src="/js/landing.js")

block content
  br
  .row
    .container
      div#sliderejemplo
          div.centertext
            h3 1
            img(src='http://lorempixel.com/201/200/')
          div.centertext
            h3 2
            img(src='http://lorempixel.com/200/201/')
          div.centertext
            h3 3
            img(src='http://lorempixel.com/202/200/')
          div.centertext
            h3 4
            img(src='http://lorempixel.com/200/202/')
          div.centertext
            h3 5
            img(src='http://lorempixel.com/203/200/')
          div.centertext
            h3 6
            img(src='http://lorempixel.com/200/203/')
          div.centertext
            h3 7
            img(src='http://lorempixel.com/202/200/')
          div.centertext
            h3 8
            img(src='http://lorempixel.com/200/202/')
          div.centertext
            h3 9
            img(src='http://lorempixel.com/203/200/')
          div.centertext
            h3 10
            img(src='http://lorempixel.com/200/203/')
  br
  .container
    .row
      .col-lg-8.col-md-8.col-sm-9.col-xs-12
        article
          .row
            .col-sm-6.col-md-4
              figure
                img(src='http://usbcode.ir/wp-content/uploads/2017/03/bootstrap.jpg')
            .col-sm-6.col-md-8
              span.label.label-default.pull-right
                i.glyphicon.glyphicon-comment
                | 50
              h4 Raymond Dragon
              p
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              .content-footer
                section
                  i.glyphicon.glyphicon-folder-open
                  | Bootstrap
                  i.glyphicon.glyphicon-user.user-small-img
                  | RaymondDragon
                  i.glyphicon.glyphicon-calendar
                  | 1395/12/21
                  i.glyphicon.glyphicon-eye-open
                  | 10000
                  a.btn.btn-default.btn-sm.pull-right(href='#') More ... 
        article
          .row
            .col-sm-6.col-md-4
              figure
                img(src='http://usbcode.ir/wp-content/uploads/2017/03/bootstrap.jpg')
            .col-sm-6.col-md-8
              span.label.label-default.pull-right
                i.glyphicon.glyphicon-comment
                | 50
              h4 Raymond Dragon
              p
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              section
                i.glyphicon.glyphicon-folder-open
                | Bootstrap
                i.glyphicon.glyphicon-user
                | RaymondDragon
                i.glyphicon.glyphicon-calendar
                | 1395/12/21
                i.glyphicon.glyphicon-eye-open
                | 10000
                a.btn.btn-default.btn-sm.pull-right(href='#') More ... 
        article
          .row
            .col-sm-6.col-md-4
              figure
                img(src='http://usbcode.ir/wp-content/uploads/2017/03/bootstrap.jpg')
            .col-sm-6.col-md-8
              span.label.label-default.pull-right
                i.glyphicon.glyphicon-comment
                | 50
              h4 Raymond Dragon
              p
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              section
                i.glyphicon.glyphicon-folder-open
                | Bootstrap
                i.glyphicon.glyphicon-user
                | RaymondDragon
                i.glyphicon.glyphicon-calendar
                | 1395/12/21
                i.glyphicon.glyphicon-eye-open
                | 10000
                a.btn.btn-default.btn-sm.pull-right(href='#') More ... 
        article
          .row
            .col-sm-6.col-md-4
              figure
                img(src='http://usbcode.ir/wp-content/uploads/2017/03/bootstrap.jpg')
            .col-sm-6.col-md-8
              span.label.label-default.pull-right
                i.glyphicon.glyphicon-comment
                | 50
              h4 Raymond Dragon
              p
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              section
                i.glyphicon.glyphicon-folder-open
                | Bootstrap
                i.glyphicon.glyphicon-user
                | RaymondDragon
                i.glyphicon.glyphicon-calendar
                | 1395/12/21
                i.glyphicon.glyphicon-eye-open
                | 10000
                a.btn.btn-default.btn-sm.pull-right(href='#') More ... 
        article
          .row
            .col-sm-6.col-md-4
              figure
                img(src='http://usbcode.ir/wp-content/uploads/2017/03/bootstrap.jpg')
            .col-sm-6.col-md-8
              span.label.label-default.pull-right
                i.glyphicon.glyphicon-comment
                | 50
              h4 Raymond Dragon
              p
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              section
                i.glyphicon.glyphicon-folder-open
                | Bootstrap
                i.glyphicon.glyphicon-user
                | RaymondDragon
                i.glyphicon.glyphicon-calendar
                | 1395/12/21
                i.glyphicon.glyphicon-eye-open
                | 10000
                a.btn.btn-default.btn-sm.pull-right(href='#') More ... 
        article
          .row
            .col-sm-6.col-md-4
              figure
                img(src='http://usbcode.ir/wp-content/uploads/2017/03/bootstrap.jpg')
            .col-sm-6.col-md-8
              span.label.label-default.pull-right
                i.glyphicon.glyphicon-comment
                | 50
              h4 Raymond Dragon
              p
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              section
                i.glyphicon.glyphicon-folder-open
                | Bootstrap
                i.glyphicon.glyphicon-user
                | RaymondDragon
                i.glyphicon.glyphicon-calendar
                | 1395/12/21
                i.glyphicon.glyphicon-eye-open
                | 10000
                a.btn.btn-default.btn-sm.pull-right(href='#') More ... 
      .col-lg-4.col-md-4
        .container
          .row
            .col-md-4
              .tab-row
                h2.title-widget-sidebar.text-capitalize Publicaciones...
                .befor-widget
                  .populat-post-tab
                    // Nav tabs
                    ul.nav.nav-tabs(role='tablist')
                      li.active(role='presentation')
                        a(href='#home', aria-controls='home', role='tab', data-toggle='tab') Top Posts
                      li(role='presentation')
                        a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') Top Usuarios
                      li(role='presentation')
                        a(href='#messages', aria-controls='messages', role='tab', data-toggle='tab') Comentarios 
                    // Tab panes
                    .tab-content
                      #home.tab-pane.active(role='tabpanel')
                        .tab-post-list
                          .tab-post-list-wrap.clearfix
                            .tab-post-thumb.pull-left
                              figure
                                a(href='single.html')
                                  img(src='http://placehold.it/150x150/018EBB/ffffff/?text=Popular+Post', alt='Post thumb')
                            .tab-post-title
                              h6
                                a(href='single.html') Standard Post Type
                              span May 10, 2014
                          .tab-post-list-wrap.clearfix
                            .tab-post-thumb.pull-left
                              figure
                                a(href='single.html')
                                  img(src='http://placehold.it/150x150/018EBB/ffffff/?text=Popular+Post', alt='Post thumb')
                            .tab-post-title
                              h6
                                a(href='single.html') Do You Know the ABC
                              span May 10, 2014
                          .tab-post-list-wrap.clearfix
                            .tab-post-thumb.pull-left
                              figure
                                a(href='single.html')
                                  img(src='http://placehold.it/150x150/018EBB/ffffff/?text=Popular+Post', alt='Post thumb')
                            .tab-post-title
                              h6
                                a(href='single.html')
                                  | How to Handle Your Kids
                                  | Mystery Ailments
                              span May 10, 2014
                      #profile.tab-pane(role='tabpanel')
                        .tab-post-list
                          .tab-post-list-wrap.clearfix
                            .tab-post-thumb.pull-left
                              figure
                                a(href='single.html')
                                  img(src='http://placehold.it/150x150/018EBB/ffffff/?text=Popular+Post', alt='Post thumb')
                            .tab-post-title
                              h6
                                a(href='single.html') Do You Know the ABC
                              span May 10, 2014
                          .tab-post-list-wrap.clearfix
                            .tab-post-thumb.pull-left
                              figure
                                a(href='single.html')
                                  img(src='http://placehold.it/150x150/018EBB/ffffff/?text=Popular+Post', alt='Post thumb')
                            .tab-post-title
                              h6
                                a(href='single.html') Standard Post Type
                              span May 10, 2014
                          .tab-post-list-wrap.clearfix
                            .tab-post-thumb.pull-left
                              figure
                                a(href='single.html')
                                  img(src='http://placehold.it/150x150/018EBB/ffffff/?text=Popular+Post', alt='Post thumb')
                            .tab-post-title
                              h6
                                a(href='single.html')
                                  | How to Handle Your Kids
                                  | Mystery Ailments
                              span May 10, 2014
                      #messages.tab-pane(role='tabpanel')
                        .tab-post-list
                          ul
                            li.tab-post-list-wrap
                              a(href='#') raazon
                              span on
                              a(href='#') Standard Post Type
                              small
                                abbr(title='30-04-2015') 12 months ago
                              p
                                | Donec venenatis feugiat congue. Integer ipsum
                                | tellus, accumsan ut purus...
                            li.tab-post-list-wrap
                              a(href='#') wordpress
                              span on
                              a(href='#') Do You Know the ABC of Health Care?
                              small
                                abbr(title='30-04-2015') 12 months ago
                              p
                                | Donec venenatis feugiat congue. Integer ipsum
                                | tellus, accumsan ut purus...
        //
          =====================
          CATEGORIES
          ======================
        .widget-sidebar
          h2.title-widget-sidebar // CATEGORIES
          button.categories-btn Audio
          button.categories-btn Blog
          button.categories-btn Gallery
          button.categories-btn Images
