extends ../layout
block head-scripts
  link(rel='stylesheet', href='/css/profile.css')
block bottom-scripts
  script(src="/js/profile.js")
block content  
  div
    h2 Protocolo de el Proyecto Sinapsis!
  p
    | Cerebro Digital es una plataforma web donde millones de usuarios comparten contenido relacionado a Ciencia, Tecnología y Educación a través de diferentes secciones como Posts y Comunidades. Dicho contenido es comentado y valorado por la comunidad. Cerebro Digital! permite expresarse y conectarse libremente, exponiendo ideas, pensamientos y contenido con millones de personas alrededor del mundo. Cerebro Digital! considera que el respeto a todos los miembros de la comunidad y la libre expresión son los pilares fundamentales de la plataforma.
  p
    | Con el objetivo de mantener una comunidad ordenada, con información publicada de manera limpia y prolija, se han creado varias reglas de convivencia (protocolo) que deben ser respetadas por todos los participantes del sitio.
  p
    | En todo el sitio se aplican criterios comunes de convivencia, sin embargo, cada sección cuenta ciertas reglas propias.
  ul
    li
      a(href='https://www.CerebroDigital.org/protocolo/#comunidades') Protocolo para Comunidades
    li
      a(href='https://www.cerebrodigital.org/protocolo/#posts') Protocolo para los post
    li
      a(href='https://www.cerebrodigital.org/protocolo/#comentarios-respuestas') Protocolo para comentarios y las respuestas
    li
      a(href='https://www.cerebrodigital.org/protocolo/#mi') Protocolo para “Mi Cerebro Digital!” (shouts)
    li
      a(href='https://www.cerebrodigital.org/protocolo/#usuarios') Protocolo para los usuarios
  p
    a(name='comunidades')
  h3 Protocolo para Comunidades:
  p
    | Una Comunidad es un espacio creado y administrado por usuarios con el objetivo generar un espacio de interacción entre personas. Los usuarios pueden compartir sus ideas, intereses, dudas, gustos o cualquier tipo de afinidad con los demás.
    br
    | Existen reglas y normas generales en las cuales se basa la filosofía de administración de Cerebro Digital! que deben ser respetadas por todas y cada una de las "Comunidades". Adicionalmente, cada Comunidad podrá designar sus propias reglas y normas, siempre y cuando estas no contradigan las que se establecen en este protocolo.
  div
    h3 Se eliminarán las comunidades y/o temas que contengan:
    ul
      li Sorteos o concursos por puntos y/o busquen el intercambio de puntos.
    li
      | Contenido que viole derechos de autor y propiedad intelectual de terceros. Cerebro Digital! se encuentra comprometida con políticas que defiendan los derechos de propiedad intelectual de creadores y artistas.
    li Links hacia sitios de descargas.
    li
      | Contenido que fomente o promulgue el odio o la discriminación en función de la raza, el origen étnico, la nacionalidad, la religión, el sexo o la orientación sexual o cualquier otro tipo.
    li
      | Material morboso como cadáveres, vómitos, violaciones, sangre, heridas, enfermedades, etc.
    li Contenido sexual explícito o de alto contenido erótico.
    li
      | Contenido malicioso con el único objetivo de difamar, desprestigiar o injuriar la reputación de terceros (personal, empresarial, político, social, religioso, etc.).
    li
      | Imágenes y videos que insinúen sexualización de un/a menor de edad en cualquier formato, ya sea en forma fotográfica o ilustrada.
    li
      | Robo de identidad y/o cualquier contenido falso que forme un material engañoso e/o irreal.
    li
      | Contengan información privada no autorizada de una persona, como el número de la tarjeta de crédito, número telefónico, dirección residencial u otro, el número del pasaporte, etc. O contengan passwords o accesos a información de terceros.
    li Comunidades demasiado específicas y que no justifiquen la creación de la misma.
    li
      | Títulos en MAYUSCULA (parcialmente o totalmente) o {{{ QuE QUiErAn LLamaR la AtenCiÓN!!! }}}.
    li Contenidos que incentiven actividades violentas, ilegales y/o peligrosas.
    li Que su fin sea el de hacer SPAM, ofrecer malware y/o Phishing.
    li
      | Agreguen links con sistemas de referencia del tipo "marketing piramidal" con el fin de obtener beneficios personales.
    li Comunidades sin contenido.
    li Material que la administración de Cerebro Digital! encuentre no conveniente.
  h3 Protocolo para los post:
  div
    h3 Se eliminarán los post que contengan:
    ul
      li Material identico a uno posteado anteriormente (famosos reposts).
      li
        | Contenido incompleto, difícil de comprender o con problemas técnicos (Links caídos, imágenes inexistentes, etc.).
      li
        | Contenido que viole derechos de autor y propiedad intelectual de terceros. Cerebro Digital! se encuentra comprometida con políticas que defiendan los derechos de propiedad intelectual de creadores y artistas.
      li
        | Títulos poco descriptivos, que sean CON MAYUSCULA (parcialmente o totalmente) o {{{ QuE QUiErAn LLamaR la AtenCiÓN!!! }}}.
      li
        | Noticias que no incluyan la fuente (es necesario agregar el link correspondiente).
      li Chistes cortos escritos, adivinanzas, trivias, etc.
      li Links hacia sitios de descargas.
      li Links de Torrents, Pando, Emule, etc. (P2P, P2M).
      li
        | Material morboso como cadáveres, vómitos, violaciones, sangre, heridas, enfermedades, etc.
      li
        | Información personal propia o de terceros tal como e-mails, msn, nombres, teléfonos, etc.
      li Contenido sexual explícito o de alto contenido erótico.
      li
        | Imágenes y videos que insinúen sexualización de un/a menor de edad en cualquier formato, ya sea en forma fotográfica o ilustrada.
      li Mensajes a otros usuarios o a los moderadores.
      li
        | Posteos realizados con el objetivo de ofender o violentar a otros miembros de la comunidad o de la sociedad en sus creencias, gustos o intereses personales.
      li
        | Contenido que se relacione o haga "apología de delito" (robo, violencia, delincuencia).
      li Passwords o accesos privados (sitios web, cuentas de correo, etc.).
      li
        | Quejas y/u opiniones sobre las reglas y/o funcionamiento y/o administración del sitio.
      li Material que incumpla cualquier regla de convivencia derivada de este protocolo.
      li
        | Enlaces a servicios que tienen como finalidad retribuir económicamente a quienes hagan referencia hacia el mismo.
      li Acortadores de direcciones para ocultar links externos.
  p
    a(name='comentarios-respuestas')
  h3 Protocolo para comentarios y las respuestas:
  div
    h3 Se eliminarán comentarios/respuestas que contengan:
    ul
      li Mayúsculas o abuso de mayúsculas.
      li Insultos, ofensas, etc. (a otro usuario o de forma general).
      li Comentarios racistas y/o peyorativos.
      li Tipografías muy grandes con el claro efecto de llamar la atención.
      li
        | Escaleras de emoticones/repetición de una o muchas imágenes en un mismo comentario.
      li Links hacia sitios de descargas.
      li Contenido sexual explícito o de alto contenido erótico.
      li
        | Imágenes y videos que insinúen sexualización de un/a menor de edad en cualquier formato, ya sea en forma fotográfica o ilustrada.
      li Flash (SWF) molestos o que emitan cualquier tipo de sonido.
  p
    a(name='mi')
  h3 Protocolo para “Mi Cerebro Digital!” (shouts):
  div
    h3 Se eliminarán los shouts que contengan:
    ul
      li Contenido sexual explícito o de alto contenido erótico.
      li
        | Imágenes y videos que insinúen sexualización de un/a menor de edad en cualquier formato, ya sea en forma fotográfica o ilustrada.
      li Archivos con virus, spyware, malware, phishing, etc.
      li Links hacia sitios de descargas.
      li
        | Contenido que viole derechos de autor y propiedad intelectual de terceros. Cerebro Digital! se encuentra comprometida con políticas que defiendan los derechos de propiedad intelectual de creadores y artistas.
      li
        | Abusos, insultos o agravios contra usuarios o grupos sociales. Esto incluye racismo, xenofobia, discriminación o amenazas de cualquier tipo.
      li
        | Pedofilia. La detección de este tipo de contenido significará la eliminación automática de la cuenta y el posible reporte a autoridades.
      li Contenido que fomente la "apología de delito" (violencia, robo, etc).
      li
        | Material morboso (cadáveres, vómitos, violaciones, sangre, heridas, enfermedades, etc.)
  p
    a(name='usuarios')
  h3 Protocolo para los usuarios:
  div
    h3 Se suspenderá de manera temporal o permanente a los usuarios que:
    ul
      li
        | Fomenten y/o publiquen contenido que haga referencia de manera directa o indirecta a la pedofilia.
      li
        | Fomenten y/o publiquen contenido que haga referencia de manera directa o indirecta a actos morbosos.
      li
        | Fomenten y/o publiquen contenido que haga referencia de manera directa o indirecta a actividades violentas, ilegales y/o peligrosas.
      li
        | Fomenten y/o publiquen contenido que haga apología de algún delito grave (matar, robar, corromper o dañar a otras personas).
      li
        | Fomenten y/o publiquen contenido que haga referencia de manera directa o indirecta al racismo y/o al odio. (Cualquier insulto racista será eliminado, así sea de uso "común" en su ámbito de pertenecía.).
      li Publiquen contenido sexual explícito o de alto contenido erótico.
      li Insulten a otro miembro de la comunidad.
      li
        | Publiquen imágenes y videos que insinúen sexualización de un/a menor de edad en cualquier formato, ya sea en forma fotográfica o ilustrada.
      li
        | Hagan, a través de cualquier medio (Mensaje personal, Comunidad, Tema, Respuesta, Comentario o Post), promoción de sitios y/o productos ajenos a Cerebro Digital! y/o posts propios del usuario (SPAM) .
      li
        | Busquen generar polémica por medio de posts, temas, shouts o de comentarios y/o realicen respuestas desafiantes o descalificantes.
      li
        | Publiquen "escalerita de caritas" (comentarios donde sólo se agregan caritas para formar figuras).
      li
        | Agreguen links a servicios que tienen como finalidad retribuir económicamente a quienes hagan referencia hacia el mismo.
      li
        | Publiquen contenidos falsos y/o irreales con el objetivo de engañar a los usuarios.
      li Utilicen avatares con contenido adulto
    h3 Denunciar contenido
    p
      | Si consideras que un contenido de la plataforma infringe alguna regla del protocolo, puedes reportarlo a través de nuestro 
      a(href='https://www.cerebrodigital.org/denuncia-publica/') Canal de Denuncias
      | .
    p
      | Además, en caso de que se trate de pedofilia, también puedes realizar una denuncia en otras organizaciones, como:
    ul
      li
        a(href='http://www.pedofilia-no.org/') Pedofilia no
      li
        a(href='http://www.protegeles.com/') Protegeles.com
      li
        a(href='http://www.stop-pedofilia.org/') Stop-Pedolifia
      li
        a(href='http://www.inhope.org/') Inhope
      li
        a(href='http://www.lafederalonline.gov.ar/') Policia Federal Argentina
